body {			
	/*min-height: 100vh;*/
	/*position: relative;*/
	/*margin-bottom: 250px;*/
	font-family: 'Titillium Web', sans-serif;
	/*min-height: 400px;*/
  margin-bottom: 120px;
  clear: both;
}

h1 {
	margin:44px 0px;
}

.footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	background: #085a91;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #041e34, #085a91);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #085a91, #041e34); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 20px;
	color: white;
	/*border-radius: 5px;*/
	/*box-shadow: -2px 2px 4px 1px rgb(20, 20, 20);*/
	/*margin-bottom:20px;*/
}
.footerButton {
  position: fixed;
  width: 100% !important;
  left: 0px;
  bottom: 0px;
  padding: 0;
  background: #085a91;
  background: -webkit-linear-gradient(to left, #084e7f, #041c2f);
  background: linear-gradient(to left, #084e7f, #041c2f);
  color: white;
}
.footerButton button.btn.btn-link {
  border-radius: 5px;
  padding: 10px 0px;
  outline: none;
}

.footerButton i {
	color:white;
	margin-left: 0;
}

.footerLinks {
	margin-top: 20px;
}

.footerLinks a i:hover {
	color:white;
}

 /*Color changing for the site button hover effects */
li a:nth-child(1):hover 
	{color: rgb(11, 213, 221);
}
li a:nth-child(2):hover 
	{color: rgb(215, 145, 255);
}
li a:nth-child(3):hover 
	{color: rgb(255, 148, 48);
}
li a:nth-child(4):hover 
{
	color: rgb(55, 255, 79);
}

 /*Coloring for the button DIVs*/
li .linkButton:nth-child(1) {
	border-color:rgb(11, 213, 221);
}
li .linkButton:nth-child(2) {
	border-color:rgb(215, 145, 255);
}
li .linkButton:nth-child(3) {
	border-color:rgb(255, 148, 48);
}
li .linkButton:nth-child(4) {
	border-color:rgb(55, 255, 79);
}

#jqueryList {  
	list-style: none;
	display: none;
	padding: 50px 0px;
}

#jqueryList li{
	padding: 19px;
	border: 2px solid black;
	background-color: #222222;
	color: #dddddd;

}

/* Styling for the div when displaying the mobile version */
#slideshow-mobile-row div {
    margin: 20px 30px;
    width: 93%;
}


#slideshow {
	-webkit-box-shadow:0px 0px 5px 4px #5e5e5e ;
	-moz-box-shadow:0px 0px 5px 4px #5e5e5e ;
	box-shadow:0px 0px 5px 4px #5e5e5e ;
	background-image: url(../resources/slideshow/intro.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 62px;
	
	animation-name: move;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes move {
  0%, 100% {
    background-position: left bottom;
    background-size: 125% 125%;
  }
  50% {
  	background-position: right top;
    background-size: 125% 125%;
  }
  
}

#slideshow img {
  width: 100%;
}

#slideshow.intro {
	background-size: 100% auto;
	/*min-height: 360px;*/
	margin-top: 32px;
	border: 0;
	animation-name: null;
}

/* Bootstrap Wide/Narrow Screen Enhancements */

@media only screen and (min-width: 1600px) {
  .container {
      width: 1540px;
  }
   #slideshow {
      max-height: 444px;
  }
}

@media only screen and (min-width: 1900px) {
  .container {
      width: 1900px;
  }
}

@media only screen and (min-width: 1200px) {
  #slideshow {
      max-height: 444px;
  }
}

@media only screen and (min-width: 992px) {
  #slideshow {
      max-height: 584px;
  }
}



/* Bootstrap Navbar Styles */

.navbar-default {
	background: #085a91;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #041e34, #085a91);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #085a91, #041e34); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
	border-color: rgb(1, 66, 110);
	padding-bottom: 10px;
}

.navbar-default .navbar-toggle {
	margin-top: 22px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #0b7ecb;
}


.navbar-brand {
	font-size:180%;
	padding-bottom: 58px;
	margin-top: 5px;
	
}
.navbar-brand span.text-small {
	font-size: 60%;
	color: white;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-nav > li > a:hover {
	color: white;
	opacity: 0.90;
}

.navbar-nav>li>a {
    margin-top: 18px;
}

.navbar-default .navbar-nav>li>a:focus {
	color:white;
	outline: 0;
}
.navbar-default .navbar-nav>li>a:hover {
	color: hsla(208, 86%, 76%, 1);
}
.navbar-default .navbar-nav>li>a.active {
	color: hsla(208, 86%, 76%, 1);
}





/*Landscape Mobile Nav*/

@media only screen and (max-height: 300px) {
	.nav, .navbar-brand {
		font-size: 120%;
		height: auto;
		padding: 5px 15px;
	}
	a.navbar-brand {
		position: absolute;
		padding: 0px 25px;
		top: 10px;
	}
	.nav, .nav.navbar.navbar-default.navbar-static-top {
		padding: 0;
	}
	.navbar-collapse a.nav-link {
		padding: 0px !important;
		font-size: 60%;
	}
	button.navbar-toggle.collapsed {
		margin: 10px;
		padding: 5px;
	}
	.footer {
		font-size: 70%;
		padding: 2px 15px !important;
	}
	
}
	

.nav-link.linkButton {
	font-size: 68%;
}

.linkButton {
	border: 5px solid;
	background: rgb(52, 59, 65);
	box-shadow: 3px 3px 5px 2px rgb(19, 19, 19);
	margin: 10px;
}

.linkButton:hover {box-shadow:none; position:relative; top:3px;}



/* MEDIA / UI Page Styles */

#media img {
	border: 3px solid hsla(0, 0%, 0%, 0.34);
  box-shadow: -2px 2px 4px 1px rgb(20, 20, 20);
  border-radius:15px;
  /*padding:2px;*/
  /*margin: 20px 0px;*/
  min-height: 200px;
  
}

img.wide {
	max-height: 14em;
}

img.tall {
	max-height: 24em;
}

.thumbnail {
	border:0;
}

/* WEB DEVELOPMENT / Animation styles */

video.wide {
	max-width: 100%;
}

#web-development img, #web-development video
{
  border: 3px solid hsla(0, 0%, 0%, 0.34);
  box-shadow: -2px 2px 4px 1px rgb(20, 20, 20);
  border-radius:15px;
  /*padding:2px;*/
  margin: 20px 0px;
  /*min-height: 200px;*/
  max-height: 30em;
}

#web-development img:hover, #web-development video:hover,
#media img:hover 
{
	/*border: 3px solid white;*/
	box-shadow: 0px 0px 25px 2px #085A91;
}

/* Display links full height of image/video for tooltip positioning */
#web-development a, #media a {
	display: inline-block;
	height: 100%;
}
.web-development span{
  font-size:small;
  color: #085a91;
}

#web-development > [class*="col-"] {
  margin-top: 60px;
  margin-bottom: 30px;
}

.img-responsive {
    margin: 0 auto;
}

/*Remove the extra padding for mobile displays*/
@media only screen and (max-width: 992px) {
  #web-development > [class*="col-"] {
	  margin-top: 0px;
	  margin-bottom: 0px;
	}
}
